.parentContainer{
    padding: 0 15%;
}
.prodImg {
    width: 100% !important;
    height: 100% !important;
}
tr.tblRow td {
    width: 19%;
    text-align: center !important;
}
tr.tblRow td.deleteRow {
    width: 5%;
    text-align: center !important;
}
th {
    font-size: 1.5rem !important;
    text-align: center !important;
}
tr.tblRow td .pull-right{
    float: none !important;
}