.productImg{
    padding-top: 60%;
}

.parentContainer{
    padding: 0 35px;
}
.counter {
    text-align: center;
    vertical-align: middle;
    padding: 7px;
    font-size: 18px;
}
.counterBtn{
    width:24px !important;
    height: 24px !important;
    min-height: 24px !important;
}
.counterBtn svg{
    font-size: 20px !important;
}