.navbar-default {
    background-color: white !important;
    border-color: white;
    min-height: 55px;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #c94780 !important;
    background-color: transparent !important;
}
.navbar-collapse.collapse a {
    line-height: 3.3;
    font-size: 16px;
    padding: 10px;
    color: #777 !important;
}
.navbar-header a{
    line-height: 2.8;
}
.navbar-collapse.collapse a.active, .navbar-collapse.collapse a:hover{
    color: #c94780 !important;
    background-color: transparent !important;
    text-decoration: none !important;
}
.userActionBtn {
    background-color: #c94780 !IMPORTANT;
    color: white !important;
    padding: 0px 10px !important;
    font-size: 12px !important;
    margin: 10px 4px !important;
    border-radius: 5px !important;
}
ul.navbar-right li {
    margin: 0 0 0 5px;
}